<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
    <title>The Signing Report</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div id="loaderImage"></div>
<div class="table-users h1">
    <table border="0px" v>
        <tr style="background-color:#ffffff">
            <td style="text-align: left;width: 33%"></td>
            <td style="text-align: right;width: 34%">
                <div style="font-size:11px;">Powered By <img src="images/logo_docusign_new.png" height="22" style="border:none;vertical-align:middle;" alt="DocuSign company logo"></div>
            </td>
        </tr>


    </table>

</div>
<div id="container">
    <div id="layout">
        <div id="content">
            <h1>Loan Estimates submitted.</h1>
        </div>
    </div>
</div>
</body>
</html>


